# Ignore all big Yocto build output folders
build/tmp/
build/sstate-cache/
build/downloads/
build/cache/
build/work/
build/tmp-glibc/

# Ignore any generated SDK or toolchains
tmp/deploy/sdk/

# Ignore editor/OS junk
*.swp
*.swo
*.DS_Store
*.log
*.tar.bz2
*.wic
*.ext4
*.zip

# Node/IDE stuff if any
.vscode/
.idea/
